button {
    width: 100%;
    height: 100%;
    font-size: 5em !important;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur( 8px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.x_button {
    background-color: #8AFA50;
    color: azure;
}

.o_button {
    background-color: #FAA582;
    color: azure;
}